<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Редагувати книгу</title>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>


    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/edit.css"/>


    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/js/util/resize.js"></script>

    <script src="/js/util/admin.js"></script>

    <script type="module" src="/js/util/admin.js"></script>
    <script type="module" src="/js/util/resize.js"></script>
    <script type="module">
        document.addEventListener("DOMContentLoaded", function () {

            addAutoResingTextarea();
        });
    </script>

    <style>
        .group-buttons {
            max-width: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .chapter {
            border-bottom: 3px solid var(--border-color);
        }
    </style>
</head>
<body>

<nav th:replace="~{fragments/navbar :: header(null)}"></nav>

<div class="container container-small p-0 my-4">


    <div class="my-2">
        <p><a href="/admin/">Адмін панель</a>/<a th:href="@{'/admin/book/' + ${book.id} + '/edit' }"
                                                 th:text="${'Редагувати книжку: ' + book.title}"></a></p>
    </div>


    <div
            class="border-radius p-4"
            style="background-color: hsl(0deg 1% 20% / 25%)"
    >

        <div class="mb-3">
            <div class="my-2">
                <label for="book-image">Силка на фотографію книжки</label>
                <input
                        type="url"
                        name="book-image"
                        id="book-image"
                        placeholder="Впишіть силку на фотографію книжки"
                />
            </div>

            <div class="my-2">
                <label for="book-name">Назва книжки:</label>
                <input
                        type="text"
                        name="book-name"
                        id="book-name"
                        placeholder="Впишіть назву книжки"

                        th:value="${book.title}"
                >
            </div>

            <div class="my-2">
                <label for="book-description">Опис:</label>
                <textarea
                        class="textarea"
                        name="book-description"
                        id="book-description"
                        placeholder="Впишіть опис книжки"
                        th:text="${book.description}"
                ></textarea>
            </div>
            <button class="btn btn-button" th:onclick="|updateBook(${book.id})|">Оновити</button>
            <button class="btn btn-danger" th:onclick="|deleteBook(${book.id})|">Видалити</button>
        </div>


        <div class="my-3" th:if="${book.uploadedUrl}">
            <button class="btn btn-button" th:onclick="|reloadChapters(${book.id})|">Перегрузити глави</button>
        </div>

        <div class="my-3">
            <a class="btn btn-button" th:href="@{'/admin/book/' + ${book.id} + '/chapter/create'}">Додати главу</a>
        </div>

        <div class="mt-2">

            <div
                    class="chapter my-2 d-flex align-items-center justify-content-between"
                    th:each="c : ${chapters}"
            >

                <a class="text-truncate"
                   th:href="@{${book.link + '/ch/' + c.numberOfPage}}"
                   th:text="${c.title}"
                ></a
                >
                <div class="group-buttons p-2">
                    <a class="btn btn-button mx-1"
                       th:href="@{'/admin/book/' + ${book.id} + '/chapter/' + ${c.numberOfPage} + '/edit'}">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <button class="btn btn-danger mx-1" th:onclick="|deleteChapter(${c.id})|">
                        <span class="bi bi-trash-fill"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="~{fragments/messages :: messages}"></div>
</div>


</body>
</html>
