<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Книги</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="../css/index.css" /> -->
    <link rel="stylesheet" href="/css/books.css"/>
</head>
<body>
<nav th:replace="~{fragments/navbar :: header(${authUser})}"></nav>


<div class="container container-small p-0 mt-5">
    <div class="my-4">
        <div th:replace="~{fragments/search :: search('/catalog')}"></div>
    </div>

    <div class="my-2 d-flex flex-wrap" th:if="${totalPages > 1}">
        <a class="btn btn-button me-2" th:each="c : ${#numbers.sequence(1, totalPages)}"
           th:href="@{'/catalog?page=' + ${c} + ${searchText != null ? '&serch-text=' + searchText : ''}} " th:text="${c}">Page</a>
    </div>

    <div class="books">
        <div class="book" th:each="book : ${books}">
            <a
                    class="media-card"
                    th:href="@{${book.link}}"
                    th:style="'background-image: url(' + @{${book.bookImage.url}} + ');'"
            >
                <div class="name-book">
                    <h3 th:text="${book.title}">Book title</h3>
                </div>
            </a>
        </div>

    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
</body>
</html>
