<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${book.title}">Book title</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/chapter.css"/>

    <style>

        .section-chapter {
            margin-bottom: 20px;
        }
    </style>

</head>
<body>


<div class="chapter-nav offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="listChapters"
     aria-labelledby="listChaptersLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Глави</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="chapters container">
            <a class="chapter" th:each="c : ${chapters}" th:href="@{'#'  + ${c.numberOfPage}}" th:text="${c.title}"></a>
        </div>
    </div>
</div>

<nav class="chapter-nav autohide navbar navbar-expand-lg navbar-dark scrolled-up">
    <div class="container-fluid">
        <button class="chapter-nav btn btn-button" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#listChapters" aria-controls="listChapters">
            <i class="navbar-item bi bi-list"></i>
        </button>


        <div class="el-title text-truncate" th:text="${book.title}"></div>
        <a class="chapter-nav btn btn-button" th:href="@{${book.link}}">
            <i class="navbar-item bi bi-box-arrow-in-right"></i>
        </a>

    </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
</nav>
<div class="container-sm container-small p-0 my-5">
    <div class="position-relative">
        <div class="section-chapter" th:each="chapter: ${chapters}">
            <div class="h2 section-chapter-name" th:id="${chapter.numberOfPage}" th:text="${chapter.title}">Chapter
                title
            </div>
            <div class="section-chapter-body" th:utext="${chapter.text}">
                <!--                <p th:each="p : ${chapter.text.split('\n')}" th:text="${p}">text</p>-->
            </div>
        </div>

    </div>

    <div class="d-flex mt-4 justify-content-center">
        <a class="btn btn-button" style="width:100%;" th:href="@{${book.link}}">Книжка</a>
    </div>
</div>

<script src="/js/util/autohiding.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
</body>
</html>
