<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>
<body>
<div class="mx-2 m-2 mb-4" th:fragment="search(url)">
  <form th:action="@{${url}}" th:method="GET" class="d-flex" style="height: 50px">
    <input
            class="form-control me-1 h5"
            type="search"
            placeholder="Пошук"
            aria-label="Search"
            name="search-text"
    />
    <button
            class="btn btn-button h5 btn-lg"
            style="min-width: 100px"
            type="submit"
    >
      <i class="bi bi-search"></i>
    </button>
  </form>
</div>

</body>
</html>