@import url('index.css');
.note-frame {
    border: none !important;

}

img {
    max-width: 100%;
}

.note-toolbar {
    background-color: transparent !important;
    border-bottom: none !important;
}

.note-btn-group > .note-btn {
    background-color: #484747 !important;
    /*color: #666666 !important;*/
    color: var(--color-text) !important;
    border: 1px solid transparent !important;
}
.note-dropdown-menu {

    background-color: rgb(42 42 42) !important;
    /*background-color: hsl(0deg 1% 20% / 25%) !important;*/
    border: none !important;
    color:rgb(102, 102, 102) !important;
}

.note-dropdown-item {
    color:rgb(102, 102, 102) !important;
}
.dropdown-toggle::after {
    content: none;
}

.note-editable {
    background-color: rgb(42 42 42);
    color:rgb(102, 102, 102);
}

.note-popover {
    background-color: rgb(42 42 42) !important;
    border: none !important;
}