*::-moz-selection {
  background-color: rgb(48, 48, 48);
}

*::selection {
  background-color: rgb(48, 48, 48);
}

body {
  --background-color-body: rgb(26, 26, 26);
  --border-color: rgb(42 42 42);

  --color-text: #a2a2a3;
  --background-color: hsl(0deg 1% 20% / 25%); /*rgb(42 42 42);*/
  --background-color-inner: hsl(0deg 3% 15%);
  /* --border-color: rgb(42 42 42); */

  background-color: var(--background-color-body);
  color: var(--color-text);
}

.color-text {
  color: var(--color-text) !important;
}
.background-color {
  background-color: var(--background-color) !important;
}

.background-color-body {
  background-color: var(--background-color-body) !important;
}

.background-color-inner {
  background-color: var(--background-color-inner) !important;
}
.border-color {
  border-color: var(--border-color) !important;
}

.border-radius {
  border-radius: 14px !important;
}

.rounded-top {
  border-radius: 14px 14px 0 0;
}
.rounded-bottom {
  border-radius: 0 0 14px 14px;
}

.container-small {
  max-width: 880px;
}

.btn-button {
  background-color: #484747;
  color: var(--color-text);
  font-size: 1rem;
}

a {
  text-decoration: none !important;
  color: var(--color-text) !important;
}

.nav-a {
  display: block;
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 15px 10px 15px;
  border-bottom: 1px solid;
}

#button-mobile {
  display: none;
}

.btn-close {
  opacity: 1;
}
@media (max-width: 990px) {
  #button-mobile {
    display: block;
  }
}
