.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    color: #495057;
    border: none;
}

.nav-tabs .nav-link.active {
    color: var(--color-text) !important;
    background-color: transparent !important;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid;
}
.avatar {
    max-width: 80px;
    border-radius: 8px;
}
.user-info {
    /* border-bottom: 1px solid #a2a2a3; */
    border-radius: 14px 14px 0 0;
    background-color: var(--background-color);
}

.nav-tabs-horizontal {
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    overflow-x: auto;

    overflow-y: hidden;
    scrollbar-width: none; /* Встановлення ширини скролбара на нуль */
    -ms-overflow-style: none; /* Відключення стандартного стилю скролбара для Edge та IE */

    white-space: nowrap;

    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.nav-tabs-horizontal::-webkit-scrollbar {
    display: none; /* Приховування скролбара для WebKit браузерів */
}

.nav-tabs-vertical {
    display: flex;

    align-items: center;
    white-space: nowrap;
    flex-direction: column;

    width: 175px;
}

.nav-tabs-vertical .nav-link {
    color: #495057;
    border: none !important;
}

.tabs-container {
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: calc(100% - 225px);
}

.group-buttons {
    max-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tab,
.tab-inner {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color);
    width: 100%;
    /* max-width: 400px; */
}

.tab-setting {
    padding: 1rem;
    background-color: var(--background-color);
}

.tab-inner {
    justify-content: space-between;
    background-color: transparent;
}
.bookmark-name {
    display: block;
    margin-top: 10px;
    /* max-width: 200px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* padding: 0px 15px 10px 15px; */
}

.bookmark-editor {
    display: flex;
    flex-grow: 1;

    flex-direction: column;
}

input {
    background-color: rgb(42 42 42);
    color: #666666;
    padding: 0.2em;
    border-radius: 2px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
}

input:hover {
    cursor: pointer;
    background-color: rgb(58, 58, 58);
}

input:focus {
    cursor: text;
    color: #666666;
    background-color: rgb(58, 58, 58);
    border-color: #333333;
}

#catalog-edit-mobile {
    display: none;
}

.form-check-input:checked {
    background-color: #484747;
    border-color: #484747;
}

.dropzone {
    border: 2px dashed var(--color-text);
    min-height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dropzone.dz-drag-hover {
    background-color: var(--color-text);
}

@media (max-width: 880px) {
    .nav-tabs-vertical {
        flex-direction: row;

        flex-wrap: nowrap;
        overflow-x: auto;

        overflow-y: hidden;
        scrollbar-width: none; /* Встановлення ширини скролбара на нуль */
        -ms-overflow-style: none; /* Відключення стандартного стилю скролбара для Edge та IE */

        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .nav-tabs-vertical::-webkit-scrollbar {
        display: none; /* Приховування скролбара для WebKit браузерів */
    }

    .tabs-container {
        max-width: 100%;
    }

    .tab-inner {
        padding: 0.25rem;
        flex-grow: 1;
    }

    .tabs {
        flex-wrap: wrap;
    }

    .tab {
        padding: 0.5rem;
        flex-grow: 1;
    }

    #catalog-edit {
        display: none;
    }

    #catalog-edit-mobile {
        display: block;
    }
}
