<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="${message}">Title</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
<div th:replace="~{fragments/navbar :: header(null)}"></div>

<div class="container-md container-small p-0 mt-5">
    <div
            class="border-color mt-3 border-radius rounded-bottom border border-3"
    >
        <div class="background-color rounded-top">
            <!-- List box -->
            <!-- Catalog body -->
            <div class="p-3 d-flex align-items-center justify-content-between">
                <div class="text-truncate text-length">
                    <div class="h4 text-truncate" th:text="${message}">Error message</div>

                </div>
            </div>

            <div class="p-2">
                <div class="tenor-gif-embed" data-postid="18912404" data-share-method="host" data-aspect-ratio="1.3617" data-width="100%">
                <a href="https://tenor.com/view/gachi-billy-herington-smoke-cigarette-gif-18912404">Gachi Billy Herington GIF</a>from
                <a href="https://tenor.com/search/gachi-gifs">Gachi GIFs</a>
            </div>
    </div>
        </div>
    </div>
</div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>